html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24303c;
    color: white;
}




header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;

    background-image: url("../Images/Auto01.png");
    background-size: cover;
    background-position: center;
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;  /*Coloca la imagen de fondo detrás del contenido */
    
    
}

h1 {
    padding: 0;
    margin:0;
    color: rgb(228, 221, 241);
}

header b {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}


/*barra navegacion*/
nav {
    background-color: #0c0b0b;
    color: white;
    padding: 5px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content:space-between;
    padding: 5px;
    margin: 0;
}

nav li {
    flex: 1 0 auto;
    text-align: center;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
}

nav ul a:hover {
    background: hsl(251, 92%, 14%);
    color: rgb(88, 88, 170);
}

main {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px; /* altura del footer */
}

.mapa{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Aca comienza el footer*/
footer {
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
}

.icono-footers a {
    color: #333;
}


footer svg {
    fill: #ffffff;
    padding: 10px;
    height: 4em;
}

footer svg:not(:last-child) {
    margin-right: 10px;
}

/*Icono whatsapp animacion*/
.icono-whatsapp {
    float: right;
    position: fixed;
    right: 30px;
    top: 93vh;
    z-index: 100;
    animation: mianimacion 10s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

#wpp {
    height: 48px;
    width: 48px;
    
    
}

#wpp:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes mianimacion {

    0%,
    40% {
        transform: rotate(0deg);
    }

    60%,
    100% {
        transform: rotate(720deg);
    }
}
/*fin animacion wpp*/



@media all and (max-width: 599px) {



    nav {
        background-color: #24303c;
        color: white;
        padding: 0;
        margin: 0;
        width: auto;
        
    }


    
    nav ul {
        list-style-type: none;
        display: block;
        padding: 0;
        margin: 0;
        float: none;
        box-sizing: border-box;
        
    }

    nav ul li a {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: #000407;
    width: 100%;
} 

.mapa{
    margin-bottom: 0;
    overflow:hidden;
    padding: 4px;
    position:relative;
    width: 100%;
    
}

iframe {
    width: 100%;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    
}

}

