html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24303c;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;

    background-image: url("../Images/Auto01.png");
    background-size: cover;
    background-position: center;
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;  /*Coloca la imagen de fondo detrás del contenido */
    
    
}

section {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin:0;
    color: rgb(228, 221, 241);
}

header b {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}


/*barra navegacion*/
nav {
    background-color: #0c0b0b;
    color: white;
    padding: 5px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content:space-between;
    padding: 5px;
    margin: 0;
}

nav li {
    flex: 1 0 auto;
    text-align: center;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
}

nav ul a:hover {
    background: hsl(251, 92%, 14%);
    color: rgb(88, 88, 170);
}
/*termina barra navegacion*/


.cabecera-clear {
    background-color: rgb(38, 185, 129);
}

.centrado {
    margin: 0 auto;
    padding: 0 .8em;
}

@media screen and(min-width: 52em) {

    .centrado {
        margin: 0 auto;
        padding: 0 .6em;
    }

} /*fin media*/




.tarjeta a {
    color: rgb(237, 223, 204);
    text-decoration: none;
}

.tarjeta a:hover {
    text-shadow: 3px 3px 8px rgb(204, 106, 20);
}

.tarjeta-content {
    margin: auto;
    padding: 10px;
}

.tarjeta-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
    
}

.tarjeta-content p {
    font-size: 95%;
}

figure {
    margin: 0;
}


.cards img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

/*aca empieza el flexbox*/

.tarjeta {
    margin: 0;
    width: 33%;
    border-radius: 10px;
    border: 1px solid #ddd;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1px;
    padding: 10px;
    border-radius: 10px;
    
}

.tarjeta-content h2 {
    text-align: center;
    margin: 0;
    color: #004e92;
    font-style: italic;
    font-size: 20px;

}

.thumbnail {
    width: auto;
    margin: auto;
    padding: 0;
}

.thumbnail :hover {
    transition: transform 0.3s; /* Agregar una transición suave */
    transform: scale(1.2) /*agranda la img al pasar por encima con el mouse*/
}

.tarjeta-content p {
    text-align: center;
    color: #fff;
}

/*Icono whatsapp animacion*/
.icono-whatsapp {
    float: right;
    position: fixed;
    right: 30px;
    top: 93vh;
    z-index: 100;
    animation: mianimacion 10s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

#wpp {
    height: 48px;
    width: 48px;
    
    
}

#wpp:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes mianimacion {

    0%,
    40% {
        transform: rotate(0deg);
    }

    60%,
    100% {
        transform: rotate(720deg);
    }
}
/*fin animacion wpp*/


#videoAuto1 {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
}


/*footer*/

main {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px; /* altura del footer */
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    
    
}

.icono-footers a {
    color: #333;
}




@media all and (min-width:600px) and (max-width:1023px) {


    body {
        background-color:  #24303c;
    }

}

@media all and (max-width: 599px) {

    body {
        background-color:  #24303c;
    }



    nav {
        background-color: #24303c;
        color: white;
        padding: 0;
        margin: 0;
        width: auto;
        
    }


    
    nav ul {
        list-style-type: none;
        display: block;
        padding: 0;
        margin: 0;
        float: none;
        box-sizing: border-box;
        
    }

    nav ul li a {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: #000407;
    width: 100%;
} 
    

    nav ul li {
        display: block;
        padding: 0;
        margin-bottom: 5px;
       
        
    }

    .tarjeta {
        padding: 5px;
    }

.tarjeta-content {
    padding: 0;

}

}