{% extends "core/base.html" %}
{%load static%}

{%block link%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/css/stlye-contacto.css' %}">
{%endblock%}

{%block title%}Contacto{%endblock%}

{%block content%}


    <div class="container mt-5">
        <form id="myForm" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Nombre" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu nombre con caracteres alfabeticos.
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="email@gmail.com" required>
                <div class="invalid-feedback">
                    Por favor, ingresa un correo electrónico válido.
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleTextarea" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="escribenos tu mensaje!" required></textarea>
                <div class="invalid-feedback">
                    Por favor, ingresa un mensaje.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <div class="mt-3" id="successMessage" style="display: none;">
                <div class="alert alert-success" role="alert">
                    ¡Formulario enviado con éxito!
                </div>
            </div>
        </form>
    </div>
    
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104884.12804931271!2d-58.50224309671455!3d-34.76493734403452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd261abf8fb75%3A0xd3b4119f62723032!2sLomas%20de%20Zamora%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1697726715273!5m2!1ses!2sar" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/js/contacto-formulario.js' %}"></script>
{%endblock%}
