{% extends "core/base.html" %}
{% load static %}
{%block link%}
<link rel="stylesheet" href="{% static 'core/css/stlye-quienes-somos.css' %}">
{%endblock%}
{%block title%} Quienes somos {%endblock%}

{% block content %}
    <article class="seccion">
    <br>
    <br>
    <h3>¿Quienes somos?</h3>
    

        <div class="contenedor_card">
        {% for empleado in empleados %}
            <div class="card">

                <div class="card_imagen">
                    <img src="{{empleado.image.url}}" alt="">
                </div>
                
                <div class="card_contenido">
                        <div class="card_cabecera">
                            <h3 class="card_nombre">{{empleado.nombreRubro}}</h3>
                        </div>
                    <p class="card_texto"> {{empleado.name}} {{empleado.descripción}} </p>
                </div>
            </div>
        {% endfor %}
        </div>

    

    </article>


{% endblock%}